<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-main}">
<head>
    <title>Book Inventory</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content-wrapper">
    </div>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/admin/assets/js/add-author.js}"></script>
    <script th:src="@{/admin/assets/js/add-category.js}"></script>
</th:block>

</body>
</html>
