<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<title th:text="${CONTENT_TITLE} + ' - ' + ${LAYOUT_TITLE}">Library Admin</title>

<head th:replace="~{fragments/head :: head}">
</head>
<body class="with-welcome-text">
<div class="container-scroller">
    <!-- Navbar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container-fluid page-body-wrapper">
        <!-- Sidebar -->
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>

        <!-- Main Panel -->
        <div class="main-panel">
            <div class="content-wrapper">
                <!-- Content goes here -->
                <div layout:fragment="content">
                    <!-- This is where specific page content will be inserted -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<div th:replace="~{fragments/scripts :: scripts}"></div>
<div layout:fragment="script"></div>
</body>
</html>