<div th:fragment="sidebar">
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/dashboard}">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item nav-category">Actions</li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{admin/books/add}">
          <i class="menu-icon mdi mdi-book-plus"></i>
          <span class="menu-title">Add Book</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{admin/books/inventory/add}">
          <i class="menu-icon mdi mdi-book-check"></i>
          <span class="menu-title">Add Inventory</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{admin/authors/add}">
          <i class="menu-icon mdi mdi-book-account"></i>
          <span class="menu-title">Add Author</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{admin/categories/add}">
          <i class="menu-icon mdi mdi-book-check"></i>
          <span class="menu-title">Add Category</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
