<div th:fragment="sidebar">
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/dashboard}">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item nav-category">Actions</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-book"></i>
          <span class="menu-title">Book Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/books/add}">
                <i class="menu-icon mdi mdi-book-plus"></i>
                <span class="menu-title">Add Book</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin/books/all}">
                <i class="menu-icon mdi mdi-book-cog"></i>
                <span class="menu-title">Update Book</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/inventory/list}">
          <i class="menu-icon mdi mdi-book-check"></i>
          <span class="menu-title">Add Inventory</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/authors/add}">
          <i class="menu-icon mdi mdi-book-account"></i>
          <span class="menu-title">Add Author</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/categories/add}">
          <i class="menu-icon mdi mdi-book-check"></i>
          <span class="menu-title">Add Category</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/loans/all}">
          <i class="menu-icon mdi mdi-book-clock"></i>
          <span class="menu-title">See Loans</span>
        </a>
      </li>
    </ul>
  </nav>
</div>